h1 {
  font-family:arial;
  color: white;
}
#table{
  font-family: monospace;
  position:fixed;
  margin-top: 300px;
}
a{
  color:black;
  text-decoration: none;
}
#jiwoolee{
margin-left:500px;
margin-top:95px;
font-size: 80px;
position:fixed;
}
#rounded-box{

  width: 1420px;
  height: 270px;
  margin-top: -8px;
  margin-left: -8px;
  padding: 5px;
  border: 5px solid red;
  background-color: black;}

  #back{
    position: fixed;
    margin-top: 350px;
    margin-left: 300px;
  }
